.currently-playing {
    margin-top: 30px;
    margin-bottom: 30px;
}
.currently-playing .cover-album {
    float: left;
    margin-right: 20px;
}
.currently-playing .text {
    overflow: hidden;
}
.currently-playing .text > *:first-child {
    margin-top: 0;
}
.currently-playing .text > *:last-child {
    margin-bottom: 0;
}
