.container {
    max-width: 650px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 30px;
}

.currently-playing {
    margin-bottom: 30px;
}
.currently-playing .cover-album {
    float: left;
    margin-right: 20px;
}
.currently-playing .text {
    overflow: hidden;
}
.currently-playing .text > *:first-child {
    margin-top: 0;
}
.currently-playing .text > *:last-child {
    margin-bottom: 0;
}

.volume-row {
    margin-top: 25px;
}

[cloak] {
    display: none;
}
